PORT=5000
SITE_ID=weeja
API_KEY=dbms_dKVMRD2cYJ4Jc8xJcoaCc1xLH3_-vQwTYkBSIEmykHQ
DBMS_URL=https://api.dbms.copupbid.com


JWT_SECRET=pool-system-secret-key

SMTP_HOST=server367.web-hosting.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=demo@copupbid.com
SMTP_PASS=GOD-DID-AGAIN
MAIL_FROM=demo@copupbid.com


# Public frontend URL used in verification emails
FRONTEND_URL=http://localhost:5173
